[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymupdf = "*"
flask = "*"
numpy = "*"
python-dotenv = "*"
waitress = "*"
flaskwebgui = "*"
ttkbootstrap = "*"
platformdirs = "*"

[dev-packages]
pytest = "*"
parameterized = "*"
pyinstaller = "*"

[requires]
python_version = "3.13"
